body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
*
{
   scrollbar-color: rgba(0,0,0,1.00) rgba(144,7,30,1.00);
}
*::-webkit-scrollbar
{
   width: 16px;
}
*::-webkit-scrollbar-track
{
   background: rgba(144,7,30,1.00);
}
*::-webkit-scrollbar-thumb
{
   background-color: rgba(0,0,0,1.00);
   border: 1px solid rgba(144,7,30,1.00);
}
*::-webkit-scrollbar-corner
{
   background: rgba(144,7,30,1.00);
}
#wb_headerLayoutGrid
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-image: linear-gradient(to right, #000000 0%, #C6102E 50%, #C6102E 50%, #000000 100%);
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2, #headerLayoutGrid > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2, #headerLayoutGrid > .col-3
{
   flex: 0 0 auto;
}
#headerLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#headerLayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#headerLayoutGrid > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 320px)
{
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2, #headerLayoutGrid > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#upStickyLayer
{
   background-color: #696969;
   background-image: none;
   border-radius: 50%;
   opacity: 0.77;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#wb_upIcon:hover #upIcon i
{
   color: #F9F9F9;
}
#wb_trendingLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#trendingLayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#trendingLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#trendingLayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#trendingLayoutGrid1 > .row > .col-1
{
   float: left;
}
#trendingLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#trendingLayoutGrid1 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0 20px 0;
}
#trendingLayoutGrid1:before,
#trendingLayoutGrid1:after,
#trendingLayoutGrid1 .row:before,
#trendingLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#trendingLayoutGrid1:after,
#trendingLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#trendingLayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_trendingLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-image: linear-gradient(to right, #000000 0%, #C6102E 50%, #C6102E 50%, #000000 100%);
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#trendingLayoutGrid2
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#trendingLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#trendingLayoutGrid2 > .row > .col-1, #trendingLayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#trendingLayoutGrid2 > .row > .col-1, #trendingLayoutGrid2 > .row > .col-2
{
   float: left;
}
#trendingLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#trendingLayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#trendingLayoutGrid2:before,
#trendingLayoutGrid2:after,
#trendingLayoutGrid2 .row:before,
#trendingLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#trendingLayoutGrid2:after,
#trendingLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#trendingLayoutGrid2 > .row > .col-1, #trendingLayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#navigationMenu
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: center;
}
#navigationMenu > li
{
   display: inline-block;
   font-size: 15px;
}
#navigationMenu a
{
   color: #FFFFFF;
   text-decoration: none;
}
#navigationMenu a:hover
{
   color: #23527C;
   text-decoration: underline;
}
#navigationMenu > .active
{
   color: #23527C;
}
#navigationMenu > .active a
{
   color: inherit;
   pointer-events: none;
}
#navigationMenu > li + li:before
{
   content: "|";
   padding: 0 20px;
   color: #E1E1E1;
}
#navigationMenu li i
{
   font-size: 15px;
   width: 17px;
}
#wb_trendingText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 0 0 0;
   margin: 0;
   text-align: center;
}
#wb_trendingText2 div
{
   text-align: center;
}
#wb_trendingText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_trendingText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 0 0 0;
   margin: 0;
   text-align: center;
}
#wb_trendingText1 div
{
   text-align: center;
}
#wb_trendingText1
{
   display: inline-block;
   margin: 0;
   width: 317px;
   height: 30px;
}
#wb_contactLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F8F5EF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#contactLayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 50px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contactLayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contactLayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#contactLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#contactLayoutGrid > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
@media (max-width: 768px)
{
#contactLayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_links
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#links
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#links > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   float: left;
}
#links > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#links > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#links > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#links:before,
#links:after,
#links .row:before,
#links .row:after
{
   display: table;
   content: " ";
}
#links:after,
#links .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_linksText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 8px 0;
   margin: 25px 0 0 0 ;
   text-align: left;
}
#wb_linksText1
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 21px;
}
#wb_linksText1 div
{
   text-align: left;
}
#wb_linksText1
{
   display: block;
   margin: 25px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_linksMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu1 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu1 li:hover a, #wb_linksMenu1 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_linksMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 8px 0;
   margin: 25px 0 0 0 ;
   text-align: left;
}
#wb_linksText3
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 21px;
}
#wb_linksText3 div
{
   text-align: left;
}
#wb_linksText3
{
   display: block;
   margin: 25px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksMenu3
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0 0 25px 0 ;
   text-align: left;
   z-index: 1111 !important;
}
#wb_linksMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu3 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu3 li:hover a, #wb_linksMenu3 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_linksMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 8px 0;
   margin: 25px 0 0 0 ;
   text-align: left;
}
#wb_linksText2
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 21px;
}
#wb_linksText2 div
{
   text-align: left;
}
#wb_linksText2
{
   display: block;
   margin: 25px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksMenu2
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_linksMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu2 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu2 li:hover a, #wb_linksMenu2 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_linksMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_contactHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 10px 0 ;
   padding: 0;
   text-align: center;
}
#contactHeading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: center;
}
#contactButton
{
   border: 0px solid #C6102E;
   border-radius: 0px;
   background-color: #C6102E;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
}
#contactButton:focus
{
   outline: 0;
}
#contactName
{
   border: 1px solid #E3E3E3;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   padding: 16px 12px 16px 12px;
}
#contactName:focus
{
   outline: 0;
}
#wb_contactName
{
   position: relative;
   margin: 0 0 20px 0 ;
}
#contactName-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin-left: 12px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#contactName::-moz-placeholder
{
   color: transparent;
}
#contactName::placeholder
{
   color: transparent;
}
#contactName:not(:-moz-placeholder-shown)
{
   padding-top: 23px;
   padding-bottom: 9px;
}
#contactName:focus, #contactName:not(:placeholder-shown)
{
   padding-top: 23px;
   padding-bottom: 9px;
}
#contactName:-webkit-autofill
{
   padding-top: 23px;
   padding-bottom: 9px;
}
#contactName:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#contactName:focus~label, #contactName:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#contactName:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#contactEmail
{
   border: 1px solid #E3E3E3;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   text-align: left;
   box-sizing: border-box;
   width: 100%;
   padding: 16px 12px 16px 12px;
}
#contactEmail:focus
{
   outline: 0;
}
#wb_contactEmail
{
   position: relative;
   margin: 0 0 20px 0 ;
}
#contactEmail-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin-left: 12px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#contactEmail::-moz-placeholder
{
   color: transparent;
}
#contactEmail::placeholder
{
   color: transparent;
}
#contactEmail:not(:-moz-placeholder-shown)
{
   padding-top: 23px;
   padding-bottom: 9px;
}
#contactEmail:focus, #contactEmail:not(:placeholder-shown)
{
   padding-top: 23px;
   padding-bottom: 9px;
}
#contactEmail:-webkit-autofill
{
   padding-top: 23px;
   padding-bottom: 9px;
}
#contactEmail:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#contactEmail:focus~label, #contactEmail:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#contactEmail:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#Line5
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 50px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_PayPalShoppingCart1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   line-height: 30px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#PayPalShoppingCart1
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#PayPalShoppingCart1
{
   fill: #000000;
   display: inline-block;
   font-size: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_PayPalShoppingCart1:hover #PayPalShoppingCart1
{
   fill: #000000;
}
#PayPalShoppingCart1
{
   cursor: pointer;
}
#PayPalShoppingCart1-badge
{
   position: absolute;
   top: 0;
   right: 0;
   padding: .25em .4em;
   white-space: nowrap;
   border-radius: .25rem;
   color: #FFFFFF;
   background-color: #C6102E;
   font-size: 11px;
   line-height: 1.0;
   text-align: center;
}
#PPMiniCart
{
   z-index: 9999;
}
#PPMiniCart .minicart-header
{
   font-size: 1.1em;
   font-weight: bold;
   padding: 12px;
   position: absolute;
}
#PPMiniCart .minicart-terms
{
   display: none;
}
#PPMiniCart .minicart-logo
{
   pointer-events: none;
}
#PPMiniCart.has-shipping ul .minicart-item:last-child .minicart-quantity,
#PPMiniCart.has-shipping ul .minicart-item:last-child .minicart-details-remove
{
   visibility: hidden;
}
@media (max-width: 767px)
{
   #PPMiniCart
   {
      left: 0 !important;
      width: 100% !important;
   }
   #PPMiniCart form
   {
      box-sizing: border-box;
      margin: 0 !important;
      padding: 1rem !important;
      width: 100% !important;
      border-radius: 0px;
   }
}
#product1Dialog
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#product1Dialog .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 0px;
   overflow: visible;
   pointer-events: all;
}
#product1Dialog.fade
{
   opacity: 1;
   transition: all 400ms linear;
}
#product1Dialog .animate-show
{
   animation-duration: 400ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in-down;
}
#product1Dialog .animate-hide
{
   animation-duration: 400ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in-down;
   animation-direction: reverse;
}
#product1Dialog.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#product1Dialog .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#product1Dialog .modal-open
{
   overflow: hidden;
}
#product1Dialog .modal-dialog
{
   position: relative;
   width: 677px;
   margin-left: auto;
   margin-right: auto;
}
#product1Dialog .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#product1Dialog .modal-header
{
   padding: 10px 10px 10px 10px;
   background-color: #000000;
   border-bottom: 1px solid #000000;
}
#product1Dialog .modal-footer
{
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #000000;
}
#product1Dialog .modal-body
{
   position: relative;
   width: 677px;
   height: 343px;
}
#product1Dialog .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5;
}
.modal-open
{
   overflow: hidden;
}
#product1Dialog .modal-header
{
   cursor: move;
}
#product1Dialog .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#product1Dialog .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#product1Dialog .modal-title
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
}
#wb_product1Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #C6102E;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#product1Heading
{
   color: #C6102E;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: left;
   text-shadow: 2px 2px 4px rgba(198,16,46,0.26);
}
#wb_product1Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_product1Text div
{
   text-align: left;
}
#amount
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   line-height: 16px;
   margin: 0;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#amount:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   margin: 0;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label1:focus
{
   outline: 0;
}
#wb_quantity
{
   font-size: 16px;
}
#quantity
{
   box-sizing: border-box;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   color: #333333;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   margin: 0;
   outline: none;
   padding: 6px 8px 6px 8px;
   text-align: center;
   vertical-align: middle;
}
#wb_quantity .input-group
{
   display: table;
   box-sizing: border-box;
   border-collapse: separate;
   position: relative;
}
#wb_quantity .input-group *
{
   box-sizing: border-box;
}
#wb_quantity .input-group-btn
{
   display: table-cell;
   position: relative;
   font-size: 0;
   vertical-align: middle;
   white-space: nowrap;
   width: 1%;
}
#quantity
{
   display: table-cell;
   margin: 0;
   width: 100%;
   height: 30px;
   font-size: 16px;
   border-radius: 0;
}
#wb_quantity .input-group-btn:first-child>.btn
{
   margin-right: -1px;
}
#wb_quantity .input-group-btn:last-child>.btn
{
   margin-left: -1px;
}
#wb_quantity .input-group-btn:first-child>.btn
{
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
#wb_quantity .input-group-btn:last-child>.btn
{
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
#wb_quantity .btn
{
   position: relative;
   height: 30px;
   display: inline-block;
   margin-bottom: 0;
   font-weight: bold;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   border: 1px solid #CCCCCC;
   user-select: none;
   white-space: nowrap;
   padding: 0 8px 0 8px;
   font-size: 16px;
   border-radius: 0px;
   color: #454545;
   background-color: #FFFFFF;
}
#wb_quantity .btn:hover
{
   color: #2B2B2B;
   background-color: #CCCCCC;
   border-color: #CCCCCC;
}
#wb_quantity .btn:active
{
   color: #FFFFFF;
   background-color: #3370B7;
   border-color: #2E6DA4;
}
#Shape1
{
   width: 236px;
   height: 236px;
   background-color: #000000;
   background-image: none;
   border: 0px #000000 solid;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.42%;
   top: 0.42%;
   width: 99.15%;
   height: 99.15%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon1
{
   height: 20px;
   width: 20px;
}
#Icon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #7E96A1;
}
#wb_Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon2
{
   height: 20px;
   width: 20px;
}
#Icon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#wb_Icon2:hover #Icon2 i
{
   color: #7E96A1;
}
#wb_Icon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon3
{
   height: 20px;
   width: 20px;
}
#Icon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#wb_Icon3:hover #Icon3 i
{
   color: #7E96A1;
}
#wb_Icon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon4
{
   height: 20px;
   width: 20px;
}
#Icon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#wb_Icon4:hover #Icon4 i
{
   color: #7E96A1;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
   -webkit-text-stroke: 1px #FF0000;
   text-stroke: 1px #FF0000;
   text-shadow: 0px 0px 15px rgba(198,16,46,1.00);
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 25px 0 25px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#footer > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .col-1
{
   flex: 0 0 auto;
}
#footer > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#footer > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGridLogo
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGridLogo
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 25px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#LayoutGridLogo > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGridLogo > .col-1
{
   flex: 0 0 auto;
}
#LayoutGridLogo > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#LayoutGridLogo > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#headerBreadcrumb
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: center;
}
#headerBreadcrumb > li
{
   display: inline-block;
   font-size: 12px;
}
#headerBreadcrumb a
{
   color: #D9D9D9;
   text-decoration: none;
}
#headerBreadcrumb a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#headerBreadcrumb > .active
{
   color: #FFFFFF;
}
#headerBreadcrumb > .active a
{
   color: inherit;
   pointer-events: none;
}
#headerBreadcrumb > li + li:before
{
   content: "";
   padding: 0 10px;
   color: #C0C0C0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 25px 0 ;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 0 0 25px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image3
{
   margin: 0 0 16px 0 ;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 200px;
   height: 87px;
   vertical-align: top;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 16px;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 272px;
   height: 24px;
   vertical-align: top;
}
#Breadcrumb1
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: center;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 12px;
}
#Breadcrumb1 a
{
   color: #D9D9D9;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#Breadcrumb1 > .active
{
   color: #FFFFFF;
}
#Breadcrumb1 > .active a
{
   color: inherit;
   pointer-events: none;
}
#Breadcrumb1 > li + li:before
{
   content: "";
   padding: 0 10px;
   color: #C0C0C0;
}
#MediaPlayer1
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_MediaPlayer1
{
   display: block;
   position: relative;
   margin: 0;
   height: 422px;
   vertical-align: top;
}
#MediaPlayer2
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_MediaPlayer2
{
   display: block;
   position: relative;
   margin: 0;
   height: 422px;
   vertical-align: top;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-image: linear-gradient(to right, #000000 0%, #C6102E 50%, #C6102E 50%, #000000 100%);
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid8 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1, #LayoutGrid8 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1, #LayoutGrid8 > .row > .col-2
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#LayoutGrid8 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid8 > .row > .col-1, #LayoutGrid8 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 621px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 621px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#navigationMenu li:nth-child(4) a:after
{
   content: attr(data-total);
   position: relative;
   left: 2px;
   top: px;
   font-size: inherit;
   font-weight: normal;
   color: #FF0000;
}
#wb_categoriesImage1,
#wb_categoriesImage2,
#wb_categoriesImage3,
#wb_categoriesImage4,
#wb_categoriesImage5  
{
   overflow: hidden;
}
